#menuTreeSystemView table,
#menuTreeSystemMoni table,
#menuTreeETL table,
#menuTreeDatabases table,
#menuTreeEniqEvent table,
#menuTreeCloudEniq table,
#menuTreeCounter table,
#menuTreeOSSIntegration table,
#menuTreeFSSnapshot table,
#menuTreeOSMemory table,
#menuTreeOSMemoryRhel table,
#menuTreeNodeHardening table,
#menuTreeEniqActivityHistory table,
#menuTreeLUNMpathIQHeaderMapping table,
#menuTreeNetanApplication table,
#menuTreeNetanFeature table,
#menuTreeBIS table,
#menuTreeOCS table,
#menuTreeOCSWithout table,
#menuTreeHw table,
#menuTreeUserGuide table {
    border: 0px;
}

#menuTreeSystemView tr,
#menuTreeSystemMoni tr,
#menuTreeETL tr,
#menuTreeDatabases tr,
#menuTreeEniqEvent tr,
#menuTreeCloudEniq tr,
#menuTreeCounter tr,
#menuTreeOSSIntegration tr,
#menuTreeFSSnapshot tr,
#menuTreeOSMemory tr,
#menuTreeOSMemoryRhel tr,
#menuTreeNodeHardening tr,
#menuTreeEniqActivityHistory tr,
#menuTreeLUNMpathIQHeaderMapping tr,
#menuTreeNetanApplication tr,
#menuTreeNetanFeature tr,
#menuTreeBIS tr,
#menuTreeOCS tr,
#menuTreeOCSWithout tr,
#menuTreeHw tr,
#menuTreeUserGuide tr {
    line-height: 100%;
}

#menuTreeSystemView td, #menuTreeSystemView th,
#menuTreeSystemMoni td, #menuTreeSystemMoni th,
#menuTreeETL td, #menuTreeETL th,
#menuTreeDatabases td, #menuTreeDatabases th,
#menuTreeEniqEvent td, #menuTreeEniqEvent th,
#menuTreeCloudEniq td, #menuTreeCloudEniq th,
#menuTreeCounter td, #menuTreeCounter th,
#menuTreeOSSIntegration td, #menuTreeOSSIntegration th,
#menuTreeFSSnapshot td, #menuTreeFSSnapshot th,
#menuTreeOSMemory td, #menuTreeOSMemory th,
#menuTreeOSMemoryRhel td, #menuTreeOSMemoryRhel th,
#menuTreeNodeHardening td, #menuTreeNodeHardening th,
#menuTreeEniqActivityHistory td, #menuTreeEniqActivityHistory th,
#menuTreeLUNMpathIQHeaderMapping td, #menuTreeLUNMpathIQHeaderMapping th,
#menuTreeNetanApplication td, #menuTreeNetanApplication th,
#menuTreeNetanFeature td, #menuTreeNetanFeature th,
#menuTreeBIS td, #menuTreeBIS th,
#menuTreeOCS td, #menuTreeOCS th,
#menuTreeOCSWithout td, #menuTreeOCSWithout th,
#menuTreeHw td, #menuTreeHw th,
#menuTreeUserGuide td, #menuTreeUserGuide th {
    border: 0px;
    padding: 0px;
}
