[mysqld]
datadir=/data/db/data
socket=/data/db/var/socket
tmpdir=/data/db/tmpdir

user=mysql
port = 3306

slow_query_log=1
slow_query_log_file=/data/db/log/mysqld-slowquery.log

#
# Binary Logging / Replication
#
log-bin=/data/db/log/mysql-bin
binlog-format=mixed
binlog-ignore-db=ddpadmin
expire_logs_days=2
# For durability and consistency in a replication setup that uses InnoDB with transactions:
sync_binlog=1

server-id=1

# Stop errno 23 problems
open-files-limit=16000

# Stop MySQL server has gone away errors
max_allowed_packet = 10M

# Innodb_Tune
innodb_buffer_pool_size = 16G
innodb_buffer_pool_instances = 8
innodb_log_file_size = 1024M
innodb_log_buffer_size = 512M
innodb_flush_method = O_DIRECT
# For durability and consistency in a replication setup that uses InnoDB with transactions:
innodb_flush_log_at_trx_commit = 1
innodb_file_per_table = 1

# Speed up upgrade
innodb_stats_on_metadata = OFF

ssl-ca = /data/db/certs/allca.cer
ssl-cert = /data/db/certs/server.cer
ssl-key = /data/db/certs/server.key

character-set-server = latin1
collation-server = latin1_swedish_ci

[mysqld_safe]
log-error=/data/db/log/mysqld.log
pid-file=/data/db/var/mysqld.pid

sql_mode = ''